@use "../../../../app/style/vars" as *;
@use "../../../../app/style/mixins" as *;
.input_wrapper {
    display: flex;
    flex-direction: column;
    width: 310px;
    height: min-content;
    position: relative;
    
    .input_label {
        @include textStyle($color:#A1A1A1, $fontSize: $desFontSize16, $fontWeight: $fontWeightReg )

        
    }
    .input_layout {
        -webkit-appearance: none; 
        -moz-appearance: none; 
        appearance: none; 
        width: 310px;
        height: 40px;
        
        outline: none;

        border: 1px solid rgba(144, 143, 143, 0.584);
        border-radius: 4px;
        padding-left: 13px;
        @include textStyle($color: $black, $fontSize: $desFontSize16, $fontWeight: $fontWeightReg );

        transition: all 150ms ease-in-out;
        

        &::placeholder {
            @include textStyle($color:#A1A1A1, $fontSize: $desFontSize16, $fontWeight: $fontWeightReg );
            padding-left: 2px;
            
        }
    
        &:hover {
            border: 1px solid #A1A1A1;
        }
    
        &:focus {
            border: 1px solid $yellow;
            box-shadow: 0px 0px 8px 0px #FEC80B66;
            
        }
    }

    .icon, .icon.search {
        position: absolute;
        right: 13px;
        top: 25%;

        &.cross {
            top: 47%;
        }
    }

    .input_layout[type='search']::-webkit-search-cancel-button,
    .input_layout[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
    }

    .input_layout[type='search']::-ms-clear,
    .input_layout[type='search']::-ms-reveal {
        display: none;
        width: 0;
        height: 0;
    }

}