@use '../../../../../../../app/style/mixins' as *;

.our_social_media_wrapper {
    display: flex;
    gap: 5%;

    justify-self: start;
    padding-left: 0%;

    @include respond-between(medium, xlarge) {
        & {
            justify-self: end;
            padding-left: 0;
        }
    }
    @include respond-between(small, medium) {
        & {
            gap: 2%;
            justify-self: flex-start;
            padding-left: 0;
        }
    }
}