@import '../../../node_modules/reset-css';

html,
body {
    height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
}

*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Для WebKit (Chrome, Safari, Opera) */
input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    display: none;
}

/* Для Internet Explorer */
input::-ms-clear {
    display: none;
}