
.header {
    width:  100%;
    height: 100%;
    position: relative;
    .header_content {
        padding: 20px 0px 20px 0px;

        display: grid;
        row-gap: 20px;

        position: relative;
    
        .header_line {
            width: 100%;
            height: 1px;
    
            background: #FEC80B;
            padding: 0;
        }
    }
}