
.catalog_wrapper {
    width: 100%;
    height: 601px;
    
    position: fixed;
    top: 16%;

    transition: all 250ms ease-in-out;

    background: #feefef;

    .catalog_content_wrapper {
        width: 100%;
        height: 100%;

        padding: 28px;

        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;

        
    }
}