@use '../../../../../../../app/style/mixins' as *;
@use '../../../../../../../app/style/vars' as *;


.bottom_content_wrapper {
    width: 95%;
    height: 100%;

    justify-self: center;

    .bottom_content {
        width: 100%;
        height: 100%;

        display: grid;

        grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;

        @include respond-between(medium, xlarge) {            
            grid-template-columns: 0.4fr 1fr 1fr 1fr 1fr 1fr;

            .menu_nav_wrapper {
                display: none;
            }
        }

        @include respond-between(small, medium) {
            grid-template-columns: 0.4fr 1fr 1fr 1fr;

            .menu_nav_wrapper {
                display: none;
            }

            .search_wrapper {
                &.search_open {
                grid-column: 1/5;
                
                justify-self: start;
                transition: all 200ms ease-in-out;
            }
            }
        }

        .catalog_btn_wrapper {
            &.disable {
                display: none;
            }
        }
        .menu_nav_wrapper {
            grid-column: 2/5;
            padding-left: 25px;
            justify-self: start;
            &.disable {
                display: none;
            }
        }

        .search_wrapper {
            grid-column: 7/9;
            justify-self: end;
            padding-right: 5%;
            
        }

        .user_items_wrapper {
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: row;
            gap: 24px;

            align-items: center;
            justify-content: center;

            grid-column: 9;

            &.disable {
                display: none;
            }
        }
    }
}